/* blog.component.css */
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Reducir el padding para pantallas pequeñas */
}

.hero-services {
  background-color: #000;
  color: #fff;
  padding: 60px 10px; /* Ajustar el padding vertical */
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra más ligera */
  min-height: 300px; /* Altura mínima ajustada */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Ajustar el espacio entre los elementos */
}

.hero-services h1 {
  font-size: 2.5rem; /* Tamaño del título ajustado */
  margin: 0;
  font-weight: bold;
}

.hero-services svg {
  width: 24px;
  height: 24px;
}

.blog-content {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .hero-services {
    padding: 50px 10px;
    min-height: 250px;
  }

  .hero-services h1 {
    font-size: 2rem;
  }

  .hero-services svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .hero-services {
    padding: 70px 20px;
    min-height: 300px;
  }

  .hero-services h1 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1025px) {
  .hero-services {
    padding: 80px 20px;
    min-height: 350px;
  }

  .hero-services h1 {
    font-size: 2.5rem;
  }
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-container h1 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  text-align: center;
}

.contact-container p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}
.form-group span {
  color: #000000; /* Asegura que el texto de los span sea negro */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.social-media a svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-media a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
}
