.transformamos-ideas-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se acomoden en pantallas pequeñas */
  gap: 20px; /* Espacio entre las columnas */

  padding: 50px; /* Añade espacio alrededor de los elementos */
}

.transformamos-ideas-container > * {
  flex: 1 1 calc(50% - 20px); /* Asegura que cada columna ocupe el 50% del ancho, restando el gap */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .transformamos-ideas-container {
    padding: 50px;
    flex-direction: column; /* Hace que los elementos se apilen verticalmente */
  }

  .transformamos-ideas-container > * {
    flex: 1 1 100%; /* Asegura que cada columna ocupe el 100% del ancho */
  }
}
