<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<div class="differentiators-container">
  <h2 data-aos="fade-up">¿Por qué elegirnos?</h2>
  <ul>
    <li data-aos="fade-right"> <strong>Soluciones a la medida:</strong> Adaptamos cada servicio a las necesidades específicas de tu negocio, garantizando resultados únicos y efectivos.</li>
    <li data-aos="fade-right" data-aos-delay="100"> <strong>Tecnología de vanguardia:</strong> Utilizamos herramientas innovadoras y metodologías modernas para optimizar procesos y mejorar la eficiencia.</li>
    <li data-aos="fade-right" data-aos-delay="200"><strong>Creatividad e innovación:</strong> Desde páginas web y marketing digital hasta impresión 3D y llaveros NFC personalizados, combinamos tecnología y diseño para impulsar tu marca.</li>
    <li data-aos="fade-right" data-aos-delay="300"><strong>Acompañamiento continuo:</strong> Te brindamos asesoría, soporte y mantenimiento para garantizar el éxito de cada proyecto a largo plazo.</li>
    <li data-aos="fade-right" data-aos-delay="400"><strong>Enfoque en resultados:</strong> Nos centramos en el crecimiento de tu negocio con estrategias digitales efectivas y personalizadas.</li>
  </ul>
</div>
