<div class="logo-container">
  <div class="circle-background">
    <button class="faq-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>blog</title><g fill="#212121"><path d="M42,1H6c-.552,0-1,.448-1,1V46c0,.552,.448,1,1,1H42c.552,0,1-.448,1-1V2c0-.552-.448-1-1-1ZM23,41H12c-.552,0-1-.448-1-1s.448-1,1-1h11c.552,0,1,.448,1,1s-.448,1-1,1Zm13-7H12c-.552,0-1-.448-1-1s.448-1,1-1h24c.552,0,1,.448,1,1s-.448,1-1,1Zm0-7H12c-.552,0-1-.448-1-1s.448-1,1-1h24c.552,0,1,.448,1,1s-.448,1-1,1Zm1-8c0,.552-.448,1-1,1H12c-.552,0-1-.448-1-1V8c0-.552,.448-1,1-1h24c.552,0,1,.448,1,1v11Z" fill="#212121"></path> </g></svg>
      <span class="tooltip">Blog</span>
    </button>
  </div>
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G7DNCQ1B0L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G7DNCQ1B0L');
</script>