<div class="description-container">
  <div class="description-header">
    <h2 data-aos="fade-down">Nuestra Misión y Visión</h2>
  </div>
  
  <div class="description-content">
    <p data-aos="fade-up" class="highlight-text">
      En un mundo digital en constante evolución, <span class="company-name">Q-Tap Software</span> emerge como una empresa innovadora, comprometida a ofrecer soluciones tecnológicas integrales para empresas y emprendedores.
    </p>
    
    <p data-aos="fade-up">
      Desde el desarrollo de páginas web y aplicaciones hasta estrategias de marketing digital y soluciones NFC personalizadas, nuestra misión es optimizar la presencia y eficiencia digital de nuestros clientes.
    </p>
    
    <p data-aos="fade-up" data-aos-delay="200">
      Nos especializamos en crear experiencias digitales únicas, ayudando a las empresas a sobresalir en su industria con tecnología de vanguardia y estrategias efectivas.
    </p>
  </div>
</div>