/* blog.component.css */
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Reducir el padding para pantallas pequeñas */
}

/* hero-services.component.css */
.hero-services {
  background-color: #000000; /* Fondo oscuro */
  color: #fff; /* Texto blanco para contraste */
  padding: 120px 20px; /* Aumentar significativamente el padding vertical */
  text-align: center; /* Centrar el texto */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada para mayor profundidad */
  min-height: 400px; /* Altura mínima aumentada */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar el contenido verticalmente */
}

.hero-content {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
  align-items: center;
  justify-content: center; /* Centrar los elementos */
  gap: 15px; /* Aumentar el espacio entre los elementos */
}

.hero-services h1 {
  font-size: 3rem; /* Tamaño del título aumentado */
  margin: 0; /* Eliminar margen para alinear correctamente */
  font-weight: bold; /* Texto en negrita para mayor impacto */
}

.hero-services svg {
  width: 32px; /* Aumentar el tamaño del SVG */
  height: 32px; /* Aumentar el tamaño del SVG */
}

.blog-content {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .hero-services {
    padding: 100px 10px; /* Ajustar el padding para pantallas pequeñas */
    min-height: 350px; /* Reducir la altura mínima para pantallas pequeñas */
  }

  .hero-services h1 {
    font-size: 2.5rem; /* Reducir el tamaño del título */
  }

  .hero-services svg {
    width: 28px; /* Reducir el tamaño del SVG */
    height: 28px; /* Reducir el tamaño del SVG */
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .hero-services {
    padding: 110px 20px; /* Ajustar el padding para pantallas medianas */
    min-height: 375px; /* Ajustar la altura mínima para pantallas medianas */
  }

  .hero-services h1 {
    font-size: 2.75rem; /* Ajustar el tamaño del título */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
  .hero-services {
    padding: 120px 20px; /* Ajustar el padding para pantallas grandes */
    min-height: 400px; /* Ajustar la altura mínima para pantallas grandes */
  }

  .hero-services h1 {
    font-size: 3rem; /* Ajustar el tamaño del título */
  }
}
