<div class="card" data-aos="fade-up">
  <div class="border" data-aos="fade-right" data-aos-delay="100"></div>
  <div class="content" data-aos="fade-up" data-aos-delay="200">
    <div class="logo" data-aos="zoom-in" data-aos-delay="300">
      <div class="logo1">
        <img src="https://q-tapsoftware.netlify.app/assets/Transformando_realidad-Cd_mPf2b.jpg" alt="Logo" sizes="" srcset="" data-aos="fade-in" data-aos-delay="400">
      </div>
      <span class="trail" data-aos="fade-left" data-aos-delay="500"></span>
    </div>
  </div>
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G7DNCQ1B0L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G7DNCQ1B0L');
</script>