
.card {
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.562);
  border-radius: 8px;
  box-shadow: -4px 5px 30px rgba(0, 0, 0, 0.28);
  transition: 0.4s;
  overflow: hidden;
  color: rgb(255, 255, 255);
  /* Elimina la inclinación */
}
  .align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }
  
  .red, .yellow, .green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  
  .card h1 {
    text-align: center;
    margin: 1.3rem 0;
    color: rgb(218, 244, 237);
    font-size: 2rem; /* Aumenta el tamaño de la fuente */
    font-weight: 800; /* Aumenta el peso de la fuente */
    letter-spacing: 2px; /* Añade espaciado entre letras */
    font-family: 'Helvetica Neue', sans-serif; /* Usa una fuente moderna */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añade una sombra suave */
  }
  
  .card h2, .card p {
    text-align: center;
    margin: 0.5rem 0;
  }
  
  .read-more-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(218, 244, 237);
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  

  
  /* Media query para pantallas pequeñas */
  @media (max-width: 768px) {
    .read-more-button {
      background-color: rgb(218, 244, 237); /* Estilo estático para móviles */
      color: rgba(0, 0, 0, 0.8);
    }
  
    .read-more-button:hover {
      background-color: rgb(218, 244, 237); /* Elimina el efecto hover en móviles */
      color: rgba(0, 0, 0, 0.8);
    }
  }
  